header {
    height: 80px;
    display: flex;
    background-color: #FF8000;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    min-height: calc(100vh - 206px);
}

.main-column-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px;
}

.header-container img {
    height: 60px;
    margin-left: 8px;
}

.burger {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.layer {
    height: 4px;
    width: 28px;
    background-color: white;
    border-radius: 1px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-container {
    height: 220px;
    background-image: url('./assets/img/pizza-hero1.jpg');
    background-position: bottom;
    background-size: cover;
}

h1 {
    margin-top: 96px;
    margin-bottom: 8px;
    font-size: 32px;
}


.pino-pizza-logo {
    align-self: center;
    height: 140px;
    width: 140px;
    margin-top: -70px;
    margin-bottom: -70px;
    border-radius: 30px;
    border: px solid rgba(0, 0, 0, 0.2);
}

.restaurant-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.stars img {
    border-radius: 0;
    height: 28px;
    width: 30px;
}

.dot {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
}

.bag img {
    height: 18px;
}

.bike,
.bag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.bike img {
    height: 24px;
}

nav {
    background-color: rgba(255, 128, 0, 0.1);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 14px;
}

nav a {
    color: rgb(98, 98, 98);
    font-weight: 700;
}

nav a:hover {
    scale: 1.05;
    filter: brightness(0.0);
}

.la-carta-container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 80px; */
}

.category-image0 {
    height: 140px;
    background-image: url("./assets/img/category0.jpg");
    background-position: center;
    background-size: cover;
}

.category-image1 {
    height: 140px;
    background-image: url("./assets/img/category1.jpg");
    background-position: center;
    background-size: cover;
}

.category-image2 {
    height: 140px;
    background-image: url("./assets/img/category2.jpg");
    background-position: center;
    background-size: cover;
}

.dish-in-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.dish-in-container:hover {
    cursor: pointer;
    background-color: rgba(255, 128, 0, 0.2);
}

.dish-info-container {
    margin-left: 8px;
}

.add-btn {
    height: 32px;
    width: 32px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    color: #FF8000;
    font-size: 22px;
    font-weight: 700;
}

.add-btn:hover {
    cursor: pointer;
    /* background-color:#FF8000; */
}

.main-column-right {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-container {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 8px;
}

.cart-item-container:first-child {
    border-top: none;
    margin: 0 8px;
}

#cart-bill{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#cart-bill p {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #FF8000;
}

.footer-content {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-content img {
    height: 60px;
    margin-left: 8px;
}

.footer-content a {
    color: rgb(98, 98, 98);
}

.footer-content a:hover {
    text-decoration: underline;
}

#close-cart-btn {
    height: 60px;
    min-width: 260px;
    background-color: #007AFE;
    border: none;
    left: 8px;
    right: 8px;
    bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.cart-bag-icon {
    width: 20px;
    height: 22px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: -2px;    
}

.cart-wrapper {
    display: none;
}

.cart-wrapper h2 {
    text-align: center;
    margin: 16px;
}

.cart-header {
    border-bottom: 1px solid #0000001a;
    display: flex;
    justify-content: center;
}

.cart-container {
    overflow-y: auto;
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.cart-container-price {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.cart-container-price div {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container-price span:first-child {
    text-align: end;
    width: 63px;
}

.secondary {
    color: rgb(98, 98, 98);
}

#cart-btn {
    position: fixed;
    height: 60px;
    min-width: 260px;
    background-color: #007AFE;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    left: 8px;
    right: 8px;
    bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#cart-btn:hover {
    cursor: pointer;
    filter: brightness(1.15);
}

.cart-action-btn {
    background-color: unset;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    height: 40px;
    width: 40px;
}

.cart-action-btn:hover {
    border: 2px solid #FF8000;
}

.trash-btn {
    background-image: url('./assets/icons/trash-icon-small.png');
    background-repeat: no-repeat;
    background-position: center;
}

.plus-btn {
    background-image: url('./assets/icons/plus-icon-thic.png');
    background-repeat: no-repeat;
    background-position: center;
}

.minus-btn {
    background-image: url('./assets/icons/minus-icon-thic.png');
    background-repeat: no-repeat;
    background-position: center;
}

.cart-empty-filler-text {
    text-align: center;
    color: #D7D7D7;
    margin-top: 32px;
    margin-bottom: 0;
}

.cart-empty-filler {
    object-position: center;
    align-self: center;
    justify-self: center;
}

#order-btn {
    border: none;
    background-color: #FF8000;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}

#order-btn:hover {
    cursor: pointer;
    filter: brightness(1.15);
}