#cart-btn {
    position: fixed;
    height: 60px;
    min-width: 260px;
    background-color: #007AFE;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    left: 8px;
    right: 8px;
    bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#cart-btn:hover {
    cursor: pointer;
    filter: brightness(1.15);
}

header {
    height: 80px;
    display: flex;
    background-color: #FF8000;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
}

.main-column-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px;
}

.header-container img {
    height: 60px;
    margin-left: 8px;
}

.burger {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.layer {
    height: 4px;
    width: 28px;
    background-color: white;
    border-radius: 1px;
}

.cart-wrapper {
    display: none;
}

.cart-wrapper h2 {
    text-align: center;
    margin: 16px;
}

.cart-header {
    border-bottom: 1px solid #0000001a;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-container {
    height: 220px;
    background-image: url('./assets/img/pizza-hero1.jpg');
    background-position: bottom;
    background-size: cover;
}

h1 {
    margin-top: 96px;
    margin-bottom: 8px;
    font-size: 32px;
}

.hero p {
    color: #FF8000;
}

.hero img {
    align-self: center;
    height: 140px;
    width: 140px;
    margin-top: -70px;
    margin-bottom: -70px;
    border-radius: 30px;
    border: px solid rgba(0, 0, 0, 0.2);
}

nav {
    background-color: rgba(255, 128, 0, 0.1);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

nav a {
    color: rgb(98, 98, 98);
    font-weight: 700;
}

nav a:hover {
    scale: 1.1;
    filter: brightness(0.0);
}

.la-carta-container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 80px; */
}

.category-image0 {
    height: 140px;
    background-image: url("./assets/img/category0.jpg");
    background-position: center;
    background-size: cover;
}

.category-image1 {
    height: 140px;
    background-image: url("./assets/img/category1.jpg");
    background-position: center;
    background-size: cover;
}

.category-image2 {
    height: 140px;
    background-image: url("./assets/img/category2.jpg");
    background-position: center;
    background-size: cover;
}

.dish-in-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.dish-in-container:hover {
    cursor: pointer;
    background-color: rgba(255, 128, 0, 0.2);
}

.dish-info-container {
    margin-left: 8px;
}

.add-btn {
    height: 32px;
    width: 32px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    color: #FF8000;
    font-size: 22px;
    font-weight: 700;
}

.add-btn:hover {
    cursor: pointer;
    /* background-color:#FF8000; */
}

.main-column-right {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #FF8000;
}

.footer-content {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-content img {
    height: 60px;
    margin-left: 8px;
}

.footer-content a {
    color: #007AFE;
}

.footer-content a:hover {
    color: #007AFE;
    text-decoration: underline;
}