@media(min-width: 600px) {
    .cart-wrapper {
        display: flex;
        justify-self: flex-end;
        flex-direction: column;
        width: 300px;
        position: sticky;
        top: 0px;
        background-color: white;
    }

    #cart-btn {
        display: none;
    }

    #close-cart-btn {
        display: none;
    }

    footer {
        height: unset;
    }

    .cart-header h2 {
        display: unset;
    }
}