.cart-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    inset: 0;
}

.cart-header h2 {
    display: none;
}

.cart-wrapper-overlay {
    width: 100%;
    position: sticky;
    top: 0;
}

#close-cart-btn {
    width: 100%;
    margin-top: 8px;
}

#close-cart-btn:hover {
    cursor: pointer;
    filter: brightness(1.15);
}

.order-overlay {
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
}

.order-container {
    position: sticky;
    max-height: 120px;
    top: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.order-container h2 {
    text-align: center;
}

.order-container button {
    height: 60px;
    min-width: 260px;
    background-color: #007AFE;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.order-container button:hover {
    filter: brightness(1.15);
    cursor: pointer;
}

.d-none {
    display: none;
}